
body {
    background-color: rgb(249, 240, 244);
    text-align: center;
    color: rgb(38, 23, 23);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
h1 {
    color: rgb(117, 46, 125);
}
h3 {
    background-color: rgb(237, 188, 216);
}
ul.recipes-container {
    background-color: rgb(250, 208, 225);
    list-style-type: none;
    display: flex;
}
.recipes {
    display: flex;
    justify-content: center;
    align-items: center;
    flex: auto;
    border: 1px solid white;
}
img {
    height: 350px;
    width: auto;
    max-height: 100%;
    max-width: 100%;
    object-fit: scale-down;
}

